<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="amilau"/>
    <link rel="shortcut icon" type="image/png" href="/amilau/images/favicon.png"/>
    <link rel="stylesheet" href="../css/amilau.css" type="text/css"/>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/modernizr.js"></script>
    <script type="text/javascript" src="../js/prefixfree.min.js"></script>
    <title>Tarjetas amilau</title>
</head>
<body>
<div id="content">
    <header>
        <div id="logo">
            <h1><span>Tarjetas Amilau</span></h1>

            <h2>Tarjetas Amilau</h2>
        </div>
        <nav id="MenuPrincipal">
            <ul>
                <li>
                    <a class="bmenu outIni" href="#" title="Inicio">Inicio</a>
                </li>
                <li>
                    <a class="bmenu outBau" href="#" title="Bautizos">Bautizos</a>
                </li>
                <li>
                    <a class="bmenu outBod" href="#" title="Bodas">Bodas</a>
                </li>
                <li>
                    <a class="bmenu outYears" href="#" title="15 A&ntilde;os">15 A&ntilde;os</a>
                </li>
                <li>
                    <a class="bmenu outOthers" href="#" title="Otros">Otros</a>
                </li>
                <li>
                    <a class="bmenu outContac" href="#" title="Contactenos">Contactenos</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="ffiltros outYears">
            <form>
                <label>Buscar</label>
                <input type="text" value=""></input>
                <label>Precios</label>
                <select>
                    <option value="Mayor">Mayor</option>
                    <option value="Menor">Menor</option>
                    <option value="Gratis">Gratis</option>
                </select>
            </form>
            <p>
                archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las, cuando un impresor (N. del
                T. persona que se dedica a la imprenta) desconocido usó
            </p>
        </div>
        <div class="bloqFlo" id="cright">
            <div class="bloqFlo">
                <ul>
                    <li title="IMAGEN NUMERO 1">
                        <a href="#" title="Imagen Numero 1">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 1" width="100%">
                        </a>
                    </li>
                    <li title="IMAGEN NUMERO 2">
                        <a href="#" title="Imagen Numero 2">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 2" width="100%">
                        </a>
                    </li>
                    <li title="IMAGEN NUMERO 3">
                        <a href="#" title="Imagen Numero 3">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 3" width="100%">
                        </a>
                    </li>
                    <li title="IMAGEN NUMERO 4">
                        <a href="#" title="Imagen Numero 4">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 4" width="100%">
                        </a>
                    </li>
                    <li title="IMAGEN NUMERO 5">
                        <a href="#" title="Imagen Numero 5">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 5" width="100%">
                        </a>
                    </li>
                    <li title="IMAGEN NUMERO 6">
                        <a href="#" title="Imagen Numero 6">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 6" width="100%">
                        </a>
                    </li>
                    <li title="IMAGEN NUMERO 7">
                        <a href="#" title="Imagen Numero 7">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 7" width="100%">
                        </a>
                    </li>
                    <li title="IMAGEN NUMERO 8">
                        <a href="#" title="Imagen Numero 8">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 8" width="100%">
                        </a>
                    </li>
                    <li title="IMAGEN NUMERO 9">
                        <a href="#" title="Imagen Numero 9">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 9" width="100%">
                        </a>
                    </li>
                    <li title="IMAGEN NUMERO 10">
                        <a href="#" title="Imagen Numero 7">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 7" width="100%">
                        </a>
                    </li>
                    <li title="IMAGEN NUMERO 11">
                        <a href="#" title="Imagen Numero 8">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 8" width="100%">
                        </a>
                    </li>
                    <li title="IMAGEN NUMERO 12">
                        <a href="#" title="Imagen Numero 9">
                            <img src="../images/testImage.jpg" alt="Imagen Numero 9" width="100%">
                        </a>
                    </li>
                </ul>
            </div>

            <div id="vacio"></div>
        </div>
    </section>
</div>
<footer>
    <p>
        Bogota D.C Colombia<br/>
        Tarjeta Amilau
    </p>x
</footer>
</body>
</html>