<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="author" content="amilau" />
		<link rel="shortcut icon" type="image/png" href="/amilau/images/favicon.png"/>
		<link rel="stylesheet" href="../css/amilau.css" type="text/css"/>
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/modernizr.js"></script>
		<script type="text/javascript" src="../js/prefixfree.min.js"></script>
		<title>Tarjetas amilau</title>
	</head>
	<body>
		<div id="content">
			<header>
				<div id="logo">
					<h1><span>Tarjetas Amilau</span></h1>
					<h2>Tarjetas Amilau</h2>
				</div>
				<nav id="MenuPrincipal">
					<ul>
						<li>
							<a class="bmenu" id="outIni" href="#" title="Inicio">Inicio</a>
						</li>
						<li>
							<a class="bmenu" id="outBau" href="#" title="Bautizos">Bautizos</a>
						</li>
						<li>
							<a class="bmenu" id="outBod" href="#" title="Bodas">Bodas</a>
						</li>
						<li>
							<a class="bmenu" id="outYears" href="#" title="15 A&ntilde;os">15 A&ntilde;os</a>
						</li>
						<li>
							<a class="bmenu" id="outOthers" href="#" title="Otros">Otros</a>
						</li>
						<li>
							<a class="bmenu" id="outContac" href="#" title="Contactenos">Contactenos</a>
						</li>
					</ul>
				</nav>
			</header>
			<section>
				<div class="bloqFlo" id="cleft">
					<a class="bmenu" id="outBau" href="#" title="Bautizos">Bautizos</a>
					<form>
						<label>Buscar</label>
						<input type="text" value =""></input>
						<label>Precios</label>
						<select>
							<option value="Mayor">Mayor</option>
							<option value="Menor">Menor</option>
							<option value="Gratis">Gratis</option>
						</select>
					</form>
					<p>
						archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó
					</p>
				</div>
				<div class="bloqFlo" id="cright">
					<div class="bloqFlo">
						<ul>

						<li title ="Atlanta Ballet's Nutcracker">
						<a href   ="http://www.atlantaballet.com/tickets-performances/nutcracker">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Nut13_gold.jpg" alt="Atlanta Ballet's Nutcracker" width="100%">
						</a>
						</li>

						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>

						<li title ="Modern Choreographic Voices">
						<a href   ="http://www.atlantaballet.com/tickets-performances/modern-choreographic-voices">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_MCV_August_2013.jpg" alt="Modern Choreographic Voices" width="100%">
						</a>
						</li>

						<li title ="Hamlet">
						<a href   ="http://www.atlantaballet.com/tickets-performances/hamlet">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Hamlet.jpg" alt="Hamlet" width="100%">
						</a>
						</li>

						<li title ="MAYhem">
						<a href   ="http://www.atlantaballet.com/tickets-performances/mayhem">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_mayhem.jpg" alt="MAYhem" width="100%">
						</a>
						</li>
						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>

						<li title ="Modern Choreographic Voices">
						<a href   ="http://www.atlantaballet.com/tickets-performances/modern-choreographic-voices">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_MCV_August_2013.jpg" alt="Modern Choreographic Voices" width="100%">
						</a>
						</li>
						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>

						<li title ="Atlanta Ballet's Nutcracker">
						<a href   ="http://www.atlantaballet.com/tickets-performances/nutcracker">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Nut13_gold.jpg" alt="Atlanta Ballet's Nutcracker" width="100%">
						</a>
						</li>

						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>

						<li title ="Modern Choreographic Voices">
						<a href   ="http://www.atlantaballet.com/tickets-performances/modern-choreographic-voices">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_MCV_August_2013.jpg" alt="Modern Choreographic Voices" width="100%">
						</a>
						</li>

						<li title ="Hamlet">
						<a href   ="http://www.atlantaballet.com/tickets-performances/hamlet">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Hamlet.jpg" alt="Hamlet" width="100%">
						</a>
						</li>

						<li title ="MAYhem">
						<a href   ="http://www.atlantaballet.com/tickets-performances/mayhem">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_mayhem.jpg" alt="MAYhem" width="100%">
						</a>
						</li>
						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>

						<li title ="Modern Choreographic Voices">
						<a href   ="http://www.atlantaballet.com/tickets-performances/modern-choreographic-voices">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_MCV_August_2013.jpg" alt="Modern Choreographic Voices" width="100%">
						</a>
						</li>
						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>
						<li title ="Atlanta Ballet's Nutcracker">
						<a href   ="http://www.atlantaballet.com/tickets-performances/nutcracker">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Nut13_gold.jpg" alt="Atlanta Ballet's Nutcracker" width="100%">
						</a>
						</li>

						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>

						<li title ="Modern Choreographic Voices">
						<a href   ="http://www.atlantaballet.com/tickets-performances/modern-choreographic-voices">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_MCV_August_2013.jpg" alt="Modern Choreographic Voices" width="100%">
						</a>
						</li>

						<li title ="Hamlet">
						<a href   ="http://www.atlantaballet.com/tickets-performances/hamlet">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Hamlet.jpg" alt="Hamlet" width="100%">
						</a>
						</li>

						<li title ="MAYhem">
						<a href   ="http://www.atlantaballet.com/tickets-performances/mayhem">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_mayhem.jpg" alt="MAYhem" width="100%">
						</a>
						</li>
						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>

						<li title ="Modern Choreographic Voices">
						<a href   ="http://www.atlantaballet.com/tickets-performances/modern-choreographic-voices">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_MCV_August_2013.jpg" alt="Modern Choreographic Voices" width="100%">
						</a>
						</li>
						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>
						<li title ="Atlanta Ballet's Nutcracker">
						<a href   ="http://www.atlantaballet.com/tickets-performances/nutcracker">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Nut13_gold.jpg" alt="Atlanta Ballet's Nutcracker" width="100%">
						</a>
						</li>

						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>

						<li title ="Modern Choreographic Voices">
						<a href   ="http://www.atlantaballet.com/tickets-performances/modern-choreographic-voices">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_MCV_August_2013.jpg" alt="Modern Choreographic Voices" width="100%">
						</a>
						</li>

						<li title ="Hamlet">
						<a href   ="http://www.atlantaballet.com/tickets-performances/hamlet">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Hamlet.jpg" alt="Hamlet" width="100%">
						</a>
						</li>

						<li title ="MAYhem">
						<a href   ="http://www.atlantaballet.com/tickets-performances/mayhem">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_mayhem.jpg" alt="MAYhem" width="100%">
						</a>
						</li>
						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>

						<li title ="Modern Choreographic Voices">
						<a href   ="http://www.atlantaballet.com/tickets-performances/modern-choreographic-voices">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_MCV_August_2013.jpg" alt="Modern Choreographic Voices" width="100%">
						</a>
						</li>
						<li title ="Roméo et Juliette">
						<a href   ="http://www.atlantaballet.com/tickets-performances/romeo-et-juliette">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_R%2BJ.jpg" alt="Roméo et Juliette" width="100%">
						</a>
						</li>

						<li title ="Pinocchio">
						<a href   ="http://www.atlantaballet.com/tickets-performances/pinocchio">
						<img src  ="http://www.atlantaballet.com/uploads/Thumb_Pinocchio.jpg" alt="Pinocchio" width="100%">
						</a>
						</li>
						</ul>
					</div>

					<div id="vacio"></div>
				</div>
			</section>
		</div>
		<footer>
			<p>
				Bogota D.C Colombia<br />
				Tarjeta Amilau
			</p>
		</footer>
	</body>
</html>