<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="author" content="amilau" />
		<link rel="shortcut icon" type="image/png" href="/amilau/images/favicon.png"/>
		<link rel="stylesheet" href="../css/amilau.css" type="text/css"/>
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/modernizr.js"></script>
		<script type="text/javascript" src="../js/prefixfree.min.js"></script>
		<title>Tarjetas amilau</title>
	</head>
	<body>
		<div id="content">
			<header>
				<div id="logo">
					<h1><span>Tarjetas Amilau</span></h1>
					<h2>Tarjetas Amilau</h2>
				</div>
				<nav id="MenuPrincipal">
					<ul>
						<li>
							<a class="bmenu" id="outIni" href="#" title="Inicio">Inicio</a>
						</li>
						<li>
							<a class="bmenu" id="outBau" href="#" title="Bautizos">Bautizos</a>
						</li>
						<li>
							<a class="bmenu" id="outBod" href="#" title="Bodas">Bodas</a>
						</li>
						<li>
							<a class="bmenu" id="outYears" href="#" title="15 A&ntilde;os">15 A&ntilde;os</a>
						</li>
						<li>
							<a class="bmenu" id="outOthers" href="#" title="Otros">Otros</a>
						</li>
						<li>
							<a class="bmenu" id="outContac" href="#" title="Contactenos">Contactenos</a>
						</li>
					</ul>
				</nav>
			</header>
			<section>
				<article id="descLeft">
					<div class="imagesBor">
						<a href="#" title="Image1"><img alt="Imagen1" src="../images/testImage.jpg" width="230" /></a>
					</div>
					<div class="imagesBor">
						<a href="#" title="Image2"><img alt="Imagen2" src="../images/testImage.jpg" width="230"  /></a>
					</div>
					<div class="imagesBor">
						<a href="#" title="Image3"><img alt="Imagen3" src="../images/testImage.jpg" width="230" /></a>
					</div>
					<div class="imagesBor" style="display: none;">
						<a href="#" title="Image3"><img alt="Imagen3" src="../images/testImage.jpg" width="230" /></a>
					</div>
				</article>
				<article id="descCentral">
					<div class="Imgcenter">
						<a href="#" title="Image4"><img alt="Imagen4" src="../images/testImage.jpg"  /></a>
					</div>
				</article>
				<article id="descRight">
					<div class="imagesBor">
						<a href="#" title="Image5"><img alt="Imagen5" src="../images/testImage.jpg" width="230" /></a>
					</div>
					<div class="imagesBor">
						<a href="#" title="Image6"><img alt="Imagen6" src="../images/testImage.jpg" width="230"  /></a>
					</div>
					<div class="imagesBor">
						<a href="#" title="Image7"><img alt="Imagen7" src="../images/testImage.jpg" width="230" /></a>
					</div>
				</article>
				<aside id="descDesp">
					<ol>
						<li>
							<input type="radio" name="destacado" value="1" />
						</li>
						<li>
							<input type="radio" name="destacado" value="2" />
						</li>
						<li>
							<input type="radio" name="destacado" value="3" />
						</li>
						<li>
							<input type="radio" name="destacado" value="4" />
						</li>
						<li>
							<input type="radio" name="destacado" value="5" />
						</li>
					</ol>
				</aside>
			</section>
		</div>
		<footer>
			<p>
				Bogota D.C Colombia<br />
				Tarjeta Amilau
			</p>
		</footer>
	</body>
</html>